<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

   <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext-security.xml
        </param-value>
	</context-param>

	<!-- Filters -->
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Servlets -->

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>com.castillo.server.FileUpload</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>FileServe</servlet-name>
		<servlet-class>com.castillo.server.FileServe</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ImageServe</servlet-name>
		<servlet-class>com.castillo.server.ImageServe</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>VCardServe</servlet-name>
		<servlet-class>com.castillo.server.VCardServe</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FileServe</servlet-name>
		<url-pattern>/fileServe</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImageServe</servlet-name>
		<url-pattern>/imageServe</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VCardServe</servlet-name>
		<url-pattern>/vcardServe</url-pattern>
	</servlet-mapping>

	<!-- - Loads the root application context of this web app at startup. - 
		The application context is then available via - WebApplicationContextUtils.getWebApplicationContext(servletContext). -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- - Publishes events for session creation and destruction through the 
		application - context. Optional unless concurrent session control is being 
		used. -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

</web-app>